* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colors-violet1: hsl(250 20.0% 10.2%);
  --colors-violet2: hsl(255 30.3% 12.9%);
  --colors-violet3: hsl(253 37.0% 18.4%);
  --colors-violet4: hsl(252 40.1% 22.5%);
  --colors-violet5: hsl(252 42.2% 26.2%);
  --colors-violet6: hsl(251 44.3% 31.1%);
  --colors-violet7: hsl(250 46.8% 38.9%);
  --colors-violet8: hsl(250 51.8% 51.2%);
  --colors-violet9: hsl(252 56.0% 57.5%);
  --colors-violet10: hsl(251 63.2% 63.2%);
  --colors-violet11: hsl(250 95.0% 76.8%);
}

/* NAV BAR */
.ph-list,
.ph-x {
  visibility: hidden;
  opacity: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  margin: 0 auto;
  transition: all 0.35s ease;

  padding-left: 4rem;
  padding-right: 4rem;
}

.on-scroll {
  background: rgba(255, 255, 255, 0.036);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-start;
  column-gap: 1rem; */
  width: 100%;
  /* height: 4.25rem; */
  /* margin: 0 auto; */
  /* margin-top: 2rem; */
}

.brand {
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  font-size: 1.625rem;
  font-weight: 900;
  line-height: 1.5rem;
  letter-spacing: 0.5rem;
  color: hsl(210 6.0% 93.0%);
  text-transform: uppercase;
}
        
.menu {
  width: 100%;
  padding: 2rem 0;
  overflow: hidden;

  box-shadow: var(--shadow-medium);
  /* arrumar isso aqui*/
  transition: all 0.4s ease-in-out;
}

.menu .menu-inner {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.menu ul li:not(:last-child) {
  margin-right: 2rem;
}

.menu ul li .menu-link {
  text-decoration: none;
  color: hsl(210 6.0% 93.0%);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}



/* MAIN */
main {
  background-color: hsla(200, 7%, 9%, 1);
}

.x {
  background: radial-gradient(circle at 15% 50%,
      hsl(252, 40.1%, 22.5%),
      rgba(0, 0, 0, 0) 25%),
    radial-gradient(circle at 85% 30%,
      hsl(192, 79%, 13%, 1),
      rgba(255, 255, 255, 0) 25%);


  height: 100vh;

  display: grid;
  grid-template-columns: max-content 1fr max-content;

  padding-left: 2rem;
  padding-right: 2rem;


}

.d1 {
  padding-left: 1rem;
  padding-right: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  gap: 2rem;

  margin-bottom: 7rem;
}

.d1 a i {
  color: hsl(210 6.0% 93.0%);
  font-size: 1.2rem;
}

.d2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.d2 h2 {
  color: hsl(210 6.0% 93.0%);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 15rem;
  text-align: start;
}

.d2 p:first-child {
  color: hsl(210 6.0% 93.0%);
  font-family: 'Nunito Sans', sans-serif;
  text-align: start;
  font-size: 1.6rem;
  font-weight: 300;
  width: 28%;
}

.d2 p:last-child {
  color: hsl(210 6.0% 93.0%);
  font-family: 'Nunito Sans', sans-serif;

  font-size: 1.6rem;
  font-weight: 300;
  width: 40%;

  text-align: end;

  line-height: 2.5rem;
}

.d3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  margin-bottom: 7rem;
}

.d3::before {
  position: absolute;
  content: "";

  width: 3rem;
  height: 1px;

  transform: rotate(90deg);
  background-color: hsl(210 6.0% 93.0%);

}

.d3 p {
  color: hsl(210 6.0% 93.0%);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 1rem;
  transform: rotate(90deg);
  margin-bottom: 6rem;
}

/* SECTION x2 */
.x2 {
  display: flex;
  flex-direction: column;
}

.d2_wrapper_text_content {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  color: hsl(210 6.0% 93.0%);
  max-width: 30rem;


  justify-content: center;
  align-self: center;
}

.d2_wrapper_text_content h2 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2rem;
}

.d2_wrapper_text_content p {
  font-weight: 500;
  font-size: 1rem;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 600px;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 2rem;
}

.swiper-pagination-bullet {
  background: rgb(246, 135, 8) !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(255, 115, 15) !important;
}

/* SECTION x3 FORM */
.x3 {
  background:
    radial-gradient(circle at 36% 90%,
      hsl(252, 40.1%, 22.5%),
      rgba(255, 255, 255, 0) 10%),

    radial-gradient(circle at 0% 40%,
      hsl(192, 79%, 13%, 1),
      rgba(255, 255, 255, 0) 15%),

    radial-gradient(circle at 95% 40%,
      hsl(30, 79%, 13%, 1),
      rgba(255, 255, 255, 0) 20%);


  height: 100vh;
  display: flex;

}

.form_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;

  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.texts_header_form {
  display: flex;
  flex-direction: column;

  font-family: 'Nunito Sans', sans-serif;

  color: hsl(210 6.0% 93.0%);
}

.first_h2_texts_header_form {
  margin-bottom: 1rem;
}

.content_bottom_text_form {
  margin-top: 2rem;
}

.content_bottom_text_form p:nth-child(2) {
  margin-bottom: 1rem;
}

.content_bottom_text_form p:nth-child(4) {
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;


  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.036);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
}

form h2 {
  color: hsl(210 6.0% 93.0%);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;

}

form input {
  background: transparent;
  padding-bottom: .4rem;
  margin-bottom: 2rem;
  outline: none;
  border: 0;
  width: 100%;
  border-bottom: 1px solid #DDDDDD;
  color: hsl(210 6.0% 93.0%);
}

form input:hover,
form textarea:hover {
  cursor: pointer;
}

form input::placeholder {
  color: hsl(210 6.0% 93.0%);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

form input:focus {
  border-color: hsl(252 56.0% 57.5%);
  transition: 0.3s;
}

form textarea {
  background: transparent;
  border: none;
  outline: none;
  color: hsl(210 6.0% 93.0%);
}

form textarea::placeholder {
  color: hsl(210 6.0% 93.0%);
  border-bottom: 1px solid #DDDDDD;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

form textarea:focus::placeholder {
  border-color: hsl(252 56.0% 57.5%);
  transition: 0.3s;
}

form button {
  background: hsl(252 40.1% 22.5%);
  color: hsl(250 95.0% 76.8%);
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  transition: background-color 75ms ease;
}

form button:hover {
  background-color: hsl(252 42.2% 26.2%);
  cursor: pointer;
}


@media screen and (max-width: 760px) {
  .ph-list {
    visibility: visible;
    opacity: 1;
  }
  
  .ph-x {
    visibility: visible;
    opacity: 1;
  }

  #header {
    display: block;
    /* width: 100vw; */
    z-index: 100000;
    padding-left: 0;
    padding-right: 0;
    /* background-color: yellow; */
  }

  .container_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 1.4rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  nav .menu {
    opacity: 0;
    visibility: hidden;
    /* top: -20rem; */
    left: -20rem;
    padding: 0;
  }
  
  nav .menu ul { /*Pra nao piscar, ficar desaparecido até que de fato eu clique em algo.*/
    display: none;
  }

  /* Mostrar Menu */
  nav.show .menu {
    opacity: 1;
    visibility: visible;
    background-color: hsla(200, 7%, 9%, 1);
    height: 100vh;
    width: 100vw;

    display: flex;
    
    justify-content: center;
    

    position: absolute;
    top: 0;
    left: 0;
  }

  nav.show .menu .menu-inner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 14rem;
    gap: 1rem;
    text-align: center;
  }

  nav.show .menu ul li{
    margin: 0;
  }

  nav.show .menu .menu-link {
    font-size: 2rem;
  }

  /*=== TOGGLE MENU ===*/
.toggle {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

nav .ph-list {
  color: white;
}

nav.show .ph-list {
  visibility: hidden;
  opacity: 0;
}

nav .ph-x {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -13rem; /* efeito do X subindo */
  right: 8.5rem;
  transition: .2s;
}

nav.show div.ph-x {  /*Quando .show estiver ativo*/
  visibility: visible;
  opacity: 1;
  left: 21rem; /* efeito do X subindo */
}



  /* Seaction 1 */
  .x {
   display: flex;
   flex-direction: column;
  }

  .d1 {
    position: absolute;
    bottom: 2rem;

    flex-direction: row;
    margin-bottom: 0;
  }

  .d2 {
    margin-top: 17rem;
  }

  .d2 h2 {
    font-size: 5rem;
  }

  .d3 {
    position: absolute;
    right: 0;
    bottom: 2rem;
    margin-bottom: 0;
  }

  .d3::before {
    width: 2rem;
  }

  .d3 p {
    font-size: 1rem;
    margin-bottom: 5rem;
  }

  /**/
 
  
  



  /* FORM */

  .x3 {
    
  }
  
  .form_wrapper {
    display: flex;
    flex-direction: column;
  }

}